<!--HOME-->
<div class="home">
    <h1>{{title}}</h1>
    <button type="button">click</button>
    <br><br>
    <form action="">
        <fieldset>
            <select>
                <option>item 1</option>
                <option>item 2</option>
                <option>item 3</option>
            </select>
        </fieldset>
        <br>
        <fieldset>
            <div class="input-ph">
                <input type="checkbox" id="item-1" />
                <label for="item-1"></label>
                <span>item 1</span>
            </div>
            <div class="input-ph">
                <input type="checkbox" id="item-2" />
                <label for="item-2"></label>
                <span>item 3</span>
            </div>
            <div class="input-ph">
                <input type="checkbox" id="item-3" />
                <label for="item-3"></label>
                <span>item 3</span>
            </div>
        </fieldset>
        <br>
        <fieldset>
            <div class="input-ph">
                <input type="radio" id="item-4" name="group" />
                <label for="item-4"></label>
                <span>item 4</span>
            </div>
            <div class="input-ph">
                <input type="radio" id="item-5" name="group" />
                <label for="item-5"></label>
                <span>item 5</span>
            </div>
            <div class="input-ph">
                <input type="radio" id="item-6" name="group" />
                <label for="item-6"></label>
                <span>item 6</span>
            </div>
        </fieldset>
    </form>
    <br>
    <div class="images">
        <img src="https://placeimg.com/640/480/tech">
        <img src="https://placeimg.com/640/480/nature">
        <img src="https://placeimg.com/640/480/arch">
        <img src="https://placeimg.com/640/480/any/grayscale">
    </div>
</div>